# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
.env

# Coverage and build
.coverage
htmlcov/
dist/
build/
*.egg-info/

# IDE
.vscode

# Github
.github
