# Data
pandas==3.0.1
duckdb==1.4.4
tabulate==0.9.0

# AI
openai==2.26.0
langchain>=0.2,<2
langchain-openai==1.1.11
langchain-experimental==0.0.64

# API
fastapi==0.135.1
uvicorn==0.41.0

# Python
python-dotenv==1.2.2